{% extends 'base.html'  %}
{% load static %}
{% block title %}Booking {% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/book.css'%}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}
{% block content %}
<h1>{{ form_title }}</h1>
{% if form_title != "Book Now" %}
<h2 class="bg-success">Your cart total is {{ cart_total }}</h2>
{% endif %}
{% if form_title == "Book Now" %} 
<form action="/detectit/" method='post' enctype="multipart/form-data">
{% endif %}
{% if form_title != "Book Now" %} 
<form action="/checkout/" method='post' enctype="multipart/form-data">
{% endif %}

  {% csrf_token %}
    <div class="modal-header">
      <h5 class="modal-title d-flex align-items-center">
        <i class="bi bi-person-lines-fill fs-3 me-2"></i>{{ form_type }}
      </h5>
    </div>
    <div class="modal-body">
      <span class="badge text-bg-light text-dark mb-3 text-wrap lh-base">
        Note: Your details must match with Your ID(Aadhdar card, passport, driving license,etc.)
        that will be required during check-in.
      </span>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 ps-0 mb-3">
            <label class="form-label">Name</label>
            <input type="text" Name='name' class="form-control shadow-none">
          </div>
          <div class="col-md-6 p-0 mb-3">
            <label class="form-label">Email</label>
            <input type="email" Name='email' class="form-control shadow-none">
          </div>
          <div class="col-md-6 ps-0 mb-3">
            <label class="form-label">Phone no.</label>
            <input type="number" Name='phone' class="form-control shadow-none">
          </div>
          {% if form_title == "Book Now" %}
          <div class="col-md-6 p-0 mb-3">
            <label class="form-label">Picture</label>
            <input type="file" id="imageinp" accept="image/*" Name='picture' class="form-control shadow-none">
          </div>
            <div class="col-md-12 p-0 mb-3">
              <label class="form-label">Payment method</label>
              <select class="form-control shadow-none" name="" id="">
                <option>Cash on delivery</option>
              </select>
            </div>
          {% endif %}
          {% if form_title != "Book Now" %}
          <div class="col-md-6 p-0 mb-3">
            <label class="form-label">Payment method</label>
            <select class="form-control shadow-none" name="" id="">
              <option>Cash on delivery</option>
            </select>
          </div>
          {% endif %}
          <div class="col-md-12 p-0 mb-3">
            <label class="form-label">Address</label>
            <textarea class="form-control shadow-none"  Name='address' rows="1"></textarea>
          </div>
          <div class="col-md-6 ps-0 mb-3">
            <label class="form-label">PinCode</label>
            <input type="number" Name='pincode' class="form-control shadow-none">
          </div>
          {% if form_title == "Book Now" %}
          <div class="col-md-6 p-0 mb-3">
            <label class="form-label">I need (Upload an Image to let AI decide.)</label>
            <select class="form-control shadow-none" name="optionSelector" id="optionSelector">
              <option value=""></option>
              <option value="Plumber">A Plumber</option>
              <option value="Electrician">An Electrician</option>
            </select>
          </div>
          {% endif %}
          <div>
            <img id="previewImage" style="width:100px" src="" alt="">
            <img id="loading" style="display:none;" src="{% static 'animations/loading.gif' %}" alt="">
            <span id="uploadMessage"></span>
          </div>
        </div>
      </div>
      <div class="text-center my-1">
        <button type="submit" class="btn btn-dark shadow-none">{{ form_type }}</button>
      </div>
    </div>
  </form>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
     
      var csrftoken = getCookie('csrftoken');
      $('#imageinp').on('change', function() {

        var file = this.files[0];
    
        if (file && file.type.startsWith('image/')) {
          displayImage(file);
    

          sendFileToBackend(file, csrftoken);
        } else {
          alert('Please select a valid image file.');
        }
      });
    
      function displayImage(file) {
        var reader = new FileReader();
    
        reader.onload = function(e) {
          $('#previewImage').attr('src', e.target.result);
        };
    
        reader.readAsDataURL(file);
        $('#loading').show();

      }
      function sendFileToBackend(file, csrftoken) {
        var formData = new FormData();
        formData.append('file', file);
    
        $.ajax({
          type: 'POST',
          url: '/ai/',
          data: formData,
          contentType: false,
          processData: false,
          headers: {
            'X-CSRFToken': csrftoken
          },
          success: function(response) {
            console.log('File successfully sent to the backend:', response);
            $('#loading').hide();
            $('#uploadMessage').text(response.message);
            $('#optionSelector').val(response.conclusion);
          },
          error: function(xhr, status, error) {
            console.error('Error sending file to the backend:', error);
            console.log('XHR:', xhr);
            console.log('Status:', status);
            $('#loading').hide();
            $('#uploadMessage').text("An error has occured. Please try again.");
          }
        });
      }
    
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = $.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
    });
  </script>
{% endblock %}