{% extends 'base.html'  %}
{% load static %}
{% block title %}Booking {% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/book.css'%}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}
{% block content %}
<h1>Book Now</h1>
<form action="/detectit" method='post' enctype="multipart/form-data">
  {% csrf_token %}
    <div class="modal-header">
      <h5 class="modal-title d-flex align-items-center">
        <i class="bi bi-person-lines-fill fs-3 me-2"></i>User Registration
      </h5>
    </div>
    <div class="modal-body">
      <span class="badge text-bg-light text-dark mb-3 text-wrap lh-base">
        Note: Your details must match with Your ID(Aadhdar card, passport, driving license,etc.)
        that will be required during check-in.
      </span>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 ps-0 mb-3">
            <label class="form-label">Name</label>
            <input type="text" Name='name' class="form-control shadow-none">
          </div>
          <div class="col-md-6 p-0 mb-3">
            <label class="form-label">Email</label>
            <input type="email" Name='email' class="form-control shadow-none">
          </div>
          <div class="col-md-6 ps-0 mb-3">
            <label class="form-label">Phone no.</label>
            <input type="number" Name='phone' class="form-control shadow-none">
          </div>
          <div class="col-md-6 p-0 mb-3">
            <label class="form-label">Picture</label>
            <input type="file" accept="image/*" Name='picture' class="form-control shadow-none">
          </div>
          <div class="col-md-12 p-0 mb-3">
            <label class="form-label">Address</label>
            <textarea class="form-control shadow-none"  Name='address' rows="1"></textarea>
          </div>
          <div class="col-md-6 ps-0 mb-3">
            <label class="form-label">PinCode</label>
            <input type="number" Name='pincode' class="form-control shadow-none">
          </div>
        </div>
      </div>
      <div class="text-center my-1">
        <button type="submit" class="btn btn-dark shadow-none">Book</button>
      </div>
    </div>
  </form>
{% endblock %}